.first-hero {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
  }

  .des-from {
    border-right: 1px solid rgba(66, 66, 66, 0.22);
    padding: 5px 10px;
    flex: 1;
    width: 100%;
    min-width: 170px;
  }
  
  /*
  Removes the default spacing and border for appropriate elements.
  */
  
  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    margin: 0;
  }
  
  /* Set the default cursor for buttons. */

button,
[role="button"] {
  cursor: pointer;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.relative {
  position: relative;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-\[160px\] {
  margin-top: 160px;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}


.w-full {
  width: 100%;
}

.w-6 {
  width: 1.5rem;
}

.min-w-\[50px\] {
  min-width: 50px;
}

.max-w-6xl {
  max-width: 72rem;
}

.flex-row {
  flex-direction: row;
}


.gap-4 {
  gap: 1rem;
}

.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.divide-gray-300\/20 > :not([hidden]) ~ :not([hidden]) {
  border-color: rgb(209 213 219 / 0.2);
}

.rounded-md {
  border-radius: 0.375rem;
}

.\!border-r-0 {
  border-right-width: 0px !important;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-gray-100\/50 {
  background-color: rgb(243 244 246 / 0.5);
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-medium {
  font-weight: 500;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.addCity {
  display: flex;
  height: 40px;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
  align-self: center;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: rgb(120 11 205 / 0.2);
  background-color: rgb(120 11 205 / 0.05);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(120 11 205 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.addCity:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(120 11 205 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: rgb(120 11 205 / 0.4);
  --tw-shadow: var(--tw-shadow-colored);
}